@using eBay.Service.Core.Soap
@using eApi.Infrastructure.HTML;

@{
    ViewBag.Title = "Setup Index";
}

<div class="row">
    <div class="col-xs-12">
        <a data-toggle="collapse" data-target="#addEvent">Add Notification Preference</a>
    </div>
</div>
<div id="addEvent" class="row collapse">
    <form id="ajax_addEvent" method="post" action="http://localhost:50659/api/notification">
        <div class="form-group">
            @Html.Label("Notification Event", new { @class = "col-xs-12 control-label" })
            <div class="col-xs-12">
                @Html.DropDownList("NotificationEvent", Enum.GetNames(typeof(NotificationEventTypeCodeType)).Select(x => new SelectListItem() { Text = x, Value = x }).ToList(), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Enable/Disable", new { @class = "col-xs-12 control-label" })
            <div class="col-xs-12">
                @Html.DropDownList("NotificationEnable", Enum.GetNames(typeof(EnableCodeType)).Select(x => new SelectListItem() { Text = x, Value = x }).ToList(), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button id="ajax_addEvent-submit" type="submit" class="btn btn-primary">Set</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    @Html.Action("ActiveNotifications")
</div>

<script>
    $(document).ready(addEventFormInit);


    function addEventFormInit() {
        $('#ajax_addEvent').submit(onFormSubmit)
    }

    function onFormSubmit(event) {
        var formData = {
            'notificationEvent': $('#NotificationEvent').val(),
            'notificationEnable': $('#NotificationEnable').val()
        };

        $.ajax({
            type: 'POST',
            url: $('#ajax_addEvent').attr('action'),
            data: formData,
            dataType: 'html'
        })
        .done(onAjaxDone)
        .error(handleAjaxError);

        var loadingIcon = '<span id="loading-wrapper"><i class="fa fa-spinner fa-spin fa-fw"></i><span class="sr-only">Loading...</span></span>';

        $('#ajax_addEvent-submit').after(loadingIcon);

        event.preventDefault();
    }

    function onAjaxDone(data) {
        window.location.replace("/setup/index");
    }

    function handleAjaxError(jqXHR, textStatus, errorThrown) {
        $('#loading-wrapper').remove();

        var errorMessage = '<div class="alert alert-danger"><strong>Something was wrong with your request! Try again!</strong></div>';

        $('#ajax_addEvent').before(errorMessage);
        $('.alert, .alert-danger').fadeOut(3000);
    }
</script>
